$font-family-1: "Schoolbell", cursive;
$font-family-2: "Anton", sans-serif;

$color-white: #fff;
$color-black: #080f0f;
$color-main: rgb(97, 122, 230);

$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; ;
