@use "../../styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .title {
    h1 {
      margin-bottom: -7.55px;
      font-size: 2.5rem;
      font-weight: bolder;
      letter-spacing: 0.5rem;
    }
  }

  .btn {
    width: 2.75rem;
    background: none;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  svg {
    display: block;
  }
}

.inputField {
  margin: 2rem 0;

  input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: variables.$font-family-2;
    outline-style: none;
    border: none;
    outline: 1px solid variables.$color-lightgrey;
    border-radius: variables.$border-radius;

    &:focus {
      outline: 1px solid variables.$color-highlight;
    }
  }
}
