@use "../styles/variables.scss";

.todo {
  background: variables.$color-white;
  width: clamp(40vw, 30rem, 90vw);
  padding: 2rem;
  margin: auto;
  border-radius: variables.$border-radius;
  box-shadow: variables.$box-shadow;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
