@use "../../styles/variables.scss";

.list {
  ul {
    display: flex;
    flex-direction: column;
  }

  .control {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;

    button {
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        color: variables.$color-lightgrey;
      }
    }
  }
}
