@use "../../styles/variables.scss";

.list {
  margin-top: 1.25rem;

  ul {
    display: flex;
    flex-direction: column;
  }

  .control {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 2rem;

    button {
      background: none;
      color: black;
      border: none;
      cursor: pointer;

      &:hover {
        transform: scale(1.075);
      }

      &.activeFilter {
        // font-weight: bold;
        // color: green;
        text-decoration: underline;
      }
    }
  }
}
