@use "../../styles/variables.scss";

.list {
  margin-top: 1.25rem;

  ul {
    display: flex;
    flex-direction: column;
  }

  .control {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;

    button {
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &.activeFilter {
        text-decoration: underline;
      }
    }
  }
}
